<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show</title>
</head>
<body>
  <h1>SHow PAge</h1>
  <p>Date: <%= budgtr.date %></p>
  <p>Name: <%= budgtr.name %></p>
  <p>From: <%= budgtr.from %></p>
  <p>Amount: <%= budgtr.amount %></p>
  <p>Tags: <%= budgtr.tags %></p>

</body>
</html>